# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Bank.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Progect\Bank\Bank\.idea\.idea.Bank\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
